/* MAIN */
body {
	margin:10px 0 50px 0;
}
.my-btn{
    background: #7130D2;
    color: #ffffff;
}
.my-btn:hover {
  background-color: #551a8b; 
}

/* HEADER */
.page-header {
  overflow:hidden;
}
.pet-finder-logo {
	background-image: url(../img/petfinderlogo.gif);
	height: 39px;
	width: 159px;
	display: inline-block;
  float:left;
}
.search {
	float:left;
  margin-top:4px;
}

/* SPINNER */
.spinner {
	width: 100px;
	height: 100px;
	margin:200px auto;
}
.glyphicon-refresh-animate {
	font-size:75px;
	color:#7130D2;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

